<p id="notice"><%= notice %></p>

<h1 class='header'>G2 Crowd Team Roster</h1>
<br />
<hr />
<br />

<div class='employee-container'>

   <% @employees.each do |employee| %>
      <div class='employee-panel'>
         <div class='image-container'>
            <img src='<%= employee['image_url'] %>'></a>
         </div>
         <div class='info-container'>
           <li><%= employee['id'] %></li>
           <li class='employee-name'><%= employee['name'] %></li>
           <li class='employee-title'><%= employee['title'] %></li>
           <li><%= employee['bio'] %></li>
           <div class='vote-container'>
             <b>Want to work with <%= employee['name'] %>?</b>

             <span class="vote-button<%= employee['id'] %>">
                <button class="vote" id="vote-button<%= employee['id'] %>" data-id="<%= employee['id'] %>">Yes!</button>
             </span>
             <br />0 people have said yes!<span class="votes<%= employee['id'] %>">
             </span>
           </div>
        </div>
      </div>
      <hr />
   <% end %>

</div>

<br>

<%= link_to 'New Employee', new_employee_path %>
